---
layout: page
title:  Articles
permalink: /articles/
order:  3
---

<div class="home">

  Blog posts are <a href="http://fergusfindley.github.io/posts">here</a>. 
  <br><br>

  <h1 class="page-heading">Inspiring external articles & posts</h1>
  <ul class="event-list">
  {% assign articles_sorted = site.data.articles | sort: "date" %}
  {% for article in articles_sorted reversed %}
    <li>
      <span class="post-meta">
        {{ article.date | date: "%Y" }}
        •
      </span>
      <a href="{{ article.href }}">{{ article.title }}</a>
      <span class="post-meta">
        @ {{ article.at }}
        {% if article.hn %}
        • see <a href="{{ article.hn }}">HN discussion</a>
        {% endif %}
      </span>
    </li>
  {% endfor %}
  </ul>

</div>
